body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: #f7f7f7;
}

h1 {
    color: #444;
}

.grade {
    font-weight: bold;
}

.green {
    color: green;
}
.blue {
    color: blue;
}
.red {
    color: red;
}

ul {
    padding-left: 20px;
}
