/*
File: example.css
Path: /AD-TASK-1/page/assets/css/example.css
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1, h3 {
    color: #333;
}

.genre.green {
    color: green;
}
.genre.blue {
    color: blue;
}
.genre.red {
    color: red;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
